@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #4454ad;
  color: #fff;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #4454ad;
}

#usuarios{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

  

#usuarios .card {

  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 300px;
}

.card{
  transition: .5s;
}
.card i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb;
}
#usuarios .card .imagen{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #4454ad;
  padding: 3px;
  border-radius: 50%;
}
.card .imagen img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
 .card p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
} 
.card .nombre{
  margin: 10px 0 3px 0;
  color: #4454ad;
  font-size: 20px;
  font-weight: 600;
}
.info i{
  font-size: 18px;
  color: #4454ad;
  margin-bottom: 5px;
}

a{
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns{
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns button {
  background: #5165d6;
  width: 100%;
  padding: 5px 0px;
  outline: none;
  border: 2px solid #5165d6;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #dee0ee;
  transition: all 0.3s linear;
}

.btns button:last-child{
  margin-left: 5px;
}

.btns button:hover{
  background: #020b3d;
  
}

.card:hover{
  transform: translateY(-15px);
}



@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }  
}